@font-face {
  font-family: 'corbel';
  src: url('../fonts/corbel/CORBEL.ttf');
}
@font-face {
  font-family: 'corbel bold';
  src: url('../fonts/corbel/CORBELB.ttf');
}
@font-face{
  font-family: 'PressStart';
  src: url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf');
}
@font-face{
  font-family: 'Jokey';
  src: url('../fonts/Jokey/JockeyOne-Regular.ttf');
}
@font-face{
  font-family: 'Jura';
  src: url('../fonts/Jura/Jura-VariableFont_wght.ttf');
}
@font-face{
  font-family: 'Play';
  src: url('../fonts/Play/Play-Regular.ttf');
}
@keyframes rainbowBtn { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes glow {
  0%{
    text-shadow: 0 0 10px rgba(255,255,255,0);
  }
  10%{
    text-shadow: 0 0 10px rgba(255,255,255,0.1);
  }
  20%{
    text-shadow: 0 0 10px rgba(255,255,255,0.2);
  }
  30%{
    text-shadow: 0 0 15px rgba(255,255,255,0.3);
  }
  40%{
    text-shadow: 0 0 15px rgba(255,255,255,0.4);
  }
  50%{
    text-shadow: 0 0 15px rgba(255,255,255,0.5);
  }
  60%{
    text-shadow: 0 0 20px rgba(255,255,255,0.6);
  }
  70%{
    text-shadow: 0 0 20px rgba(255,255,255,0.7);
  }
  80%{
    text-shadow: 0 0 20px rgba(255,255,255,0.8);
  }
  90%{
    text-shadow: 0 0 25px rgba(255,255,255,0.9);
  }
  100%{
    text-shadow: 0 0 25px rgba(255,255,255,1);
  }
}
@keyframes rainbow{
		100%,0%{
			color: rgb(32,199,215);
		}
		12%{
			color: rgb(69,199,184);
		}
		24%{
			color: rgb(5,164,225);
		}
		36%{
			color: rgb(141,124,207);
		}
		48%{
			color: rgb(184,119,193);
		}
		60%{
			color: rgb(189,227,132);
		}
		72%{
			color: rgb(95,106,112);
		}
		84%{
			color: rgb(0,127,255);
		}
}
@keyframes AnimateProduct {
  from{
    width: 0%;
  }
  to{
    width: 100%;
  }
}
@keyframes AnimateProductBack{
  from{
    width: 100%;
  }
  to{
    width: 0%;
  }
}
@keyframes AnimateProductText{
  from{
    opacity: 0;
    top: 50px;
  }
  to{
    opacity: 1;
    top: 0px
  }
}
@keyframes AnimateProductTextBackwards{
  from{
    opacity: 1;
    top: 0px;
  }
  to{
    opacity: 0;
    top: 50px
  }
}
@keyframes AnimateMenu {
  from {
    height: 0px;
  }
  to {
    height: 350px;
  }
}
@keyframes AnimateMenuBackwards {
  from {
    height: 350px;
  }
  to {
    height: 0px;
  }
}
body
{
  font-family: 'corbel';
  background-color: #343A40;
  overflow-x: hidden;
  color: #f2eee5;
}
h1, h2, h3 {
  color: #f2eee5;
  font-family: 'corbel bold';
}
form {
  color: #343A40;
}
#btn-menu{
  position: relative;
  color: #FFF;  
  font-size: 18pt;
}
#btn-menu:hover{
  color: #000;
}
#btn-menu{
  position: relative;
  left: 50px;
}
.AnimateMenu{
  animation: AnimateMenu 0.3s ease-out;
  animation-fill-mode: forwards;
}
.AnimateMenuBackwards{
  animation: AnimateMenuBackwards 0.3s ease-out;
  animation-fill-mode: forwards;
}
#menu-dropdown{
  position: absolute;
  width: 20%;
  background-color: rgb(0,0,0,0.9);  
  height: 0px;  
  overflow-y: hidden;
  top: 120px;
  left: 60px;
  z-index: 10002;
}
#menu-dropdown > div > h5{
  display: block;
  position: relative;
  width: 100%;  
  height: 50px;
}
#menu-dropdown > div > h5 > a{
  position: relative;
  width: 100%;
  display: block;  
  height: 50px;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: 400;
  text-align: justify;
}
#menu-dropdown > div > h5 > a:hover{
  position: relative;
  width: 100%;
  display: block;  
  height: 50px;
  background-color: #FFF;
  color: #000 !important;  
  transition: 0.3s ease-out;
  padding-left: 20px;
  text-align: justify;
}
.img_logo{
  margin-left: 5%;
}
#signin-link{
  position: relative;
  color: #FFF;
  font-size: 18pt;
  margin-right: 50px;
}
#signin-link:hover{
text-decoration: none;
}
#how-works-container{
  color: #FFF;
  font-size: 3em;
  height: 200px;
}
.main-container{
  position: relative;
  width: 100%;
}
.press-start{
  font-family: 'PressStart';
  font-size: 32pt;
}
.press-start-speech{
  font-family: 'PressStart';
  font-size: 32pt;
  color: #FFF !important;
}
.videogame-section-body{
  background: rgba(0, 0, 0, 1) !important;
}
.videogame-section-container{
  position: absolute;
  height: 100%;
  z-index: 100002;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.thesethose-section-container{
  position: absolute;
  height: 969px;
  z-index: 100002;  
}
.speech-section-container{
  position: absolute;
  height: 600px;
  z-index: 100002;  
}
.bg-black{
  background-color: #343A40;
}
.label{
  text-decoration: none;
  font-family: 'corbel';
}
.label:hover{
  text-decoration: none;
}
.txt-color-darkgray
{
  color: #A9A9A9;
}
.link-static:hover{
  color: #FFF;
}
.welcome-name{
  animation: rainbow 15s linear;
  animation-iteration-count: infinite;
}
.dash-ico:hover{
  animation: glow 0.5s linear;
  animation-iteration-count: 1;
  text-shadow: 0 0 25px rgba(255,255,255,1);
}
.contenido-dashboard{
  position: relative;
 margin: 0px 0px 0px 0px;
 padding: 0px;
 width: 100%;
 height: 700px;
}
.container-fluid-dashboard{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}
.container-fluid-signin{
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.contenido-singin
{
  position: relative;
  width: 100%;
  height: 600px;
}
.video-container
{
  position: relative;;
  width: 100%;
  margin-top:0px;
  overflow-x: hidden;
  background-image: linear-gradient(147deg, rgb(5,164,225) 0%, rgb(141,124,207) 74%);	
}
#video video
{
  min-width: 100%;
  min-height: 20%;
}
#video-teaser
{
  position: relative;
  max-width: 100%;
  max-height: 50%;
}
#contact-section{
  position: relative;
  width: 100%;  
}
#contacto-background{
  position: absolute;
  width: 100%;  
  height: 300px;
  bottom: 0px;
  background-image: url('../img/bg/bg-contact.png');
  background-size: cover;  
}
.footer
{
  position: relative;
  width: 100%;
  height: 400px;  
  background-color: #000;
  color: #FFF;
  display: inline-block;
  margin-bottom: 2%;  
}
.footer-sigin
{
  position: relative;
  width: 100%;
  height: 20%;
  bottom: -55px;
  background-color: #343a40;
  color: #FFF;
  display: inline-block;
  margin-bottom: 2%;  
}
.foot-section
{
  position: relative;   
}
.foot-section > span{
  margin-top: 5%;
}
.foot-section > a{
  margin: 3%;
}
.text-about > p
{
  text-align: justify;
}
.form-wrapper {
  background-color: #FFF;
  width: 40%;
  margin: auto;
  padding: 2%;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
#login_form {
  position: relative;
  width: 100%;
}
#btn-login
{
  position: relative;
  margin: auto;
  padding: 0px;
  width: 30%;
  text-align: center;
}
#btn-log
{
  position: relative;
  width: 100%;
  font-family: 'corbel';
}
#btn-log:hover{
  background-image: linear-gradient(147deg, rgb(5,164,225) 0%, rgb(141,124,207) 74%) !important; 
}
#btn-register
{
  position: relative;
  margin: auto;
  text-align: center;
  width: 200px;
  font-family: 'corbel';
}
#btn-register:hover{
  background-image: linear-gradient(147deg, rgb(5,164,225) 0%, rgb(141,124,207) 74%) !important; 
}
.text-about{
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 2%;
  margin-bottom: 5%;
  font-size: 15pt;
  font-family: 'corbel';
}
#about-title{
  position: relative;
  width: 100%;
  text-align: justify;
  font-family: 'corbel bold';  
  height: 200px;
  padding-top: 50px;
  font-size: 18pt;
  padding-left: 5%;
  margin-bottom: 2%;
  background-image: url("../img/bg/bg_about.png"); 
  background-position: 5%; 
  background-size: cover;   
}
#cloud-title{
  width: 100%;
  text-align: justify;
  font-family: 'corbel bold';
  height: 200px;
  padding-left: 4%;
  padding-top: 50px;
  font-size: 3em !important;
}
#contact-title{
  width: 100%;
  text-align: justify;
  color: #343A40;
  font-family: 'corbel bold';
  font-size: 18pt;
  background-repeat: no-repeat;
  height: 200px;
  margin-top: 2%;
  background-color: #FFF;    
}
#about-title > h1{
  font-size: 3em;
  color: #343A40;
}
#cloud-title > h1 {
  font-size: 1.3em;
}
#contact-title > h1{
  font-size: 3em;  
  margin-top: 60px;
  color: #343A40;
}
#contact-title > h3{
  color: #343A40;
}
#contact-button{
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  width: 20%;
  padding: 1%;
  margin:auto;	
  font-size: 18pt;  
  border-radius: 50px;
  background-image: linear-gradient(147deg, rgb(5,164,225) 0%, rgb(141,124,207) 74%);	
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
#logoAndSocial{
  position: relative;
  width: 45%;
  padding-top: 3%;
  padding-left: 5%;
}
.list-horizontal{
  position: relative;
  list-style-type: none;
  display: inline-block;
  padding-inline-start: 0px !important;
}
.list-horizontal > li {
  float: left;
  margin: 15px;
}
#logoAndSocial > p {
  font-family: 'corbel';
  text-align: justify;
  margin-left: 15px;
}
#contactoFooter{
  text-align: justify;
  width: 40%;
  font-family: 'corbel';
  padding-top: 3%;  
}
#contactoFooter > h4{
  font-family: 'corbel bold';
}
#supportFooter{
  width: 10%;
  text-align: justify;
  font-family: 'corbel';
  padding-top: 3%;
}
#supportFooter > h4{
  font-family: 'corbel bold';
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: linear-gradient(124deg,#B978C2, #8E7DD0, #00A5E2, 
  #1AC8D8, #43C8B9, #BEE485);
  background-size: 1800% 1800%;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  animation: rainbowBtn 18s ease infinite;
}
.line{
  display: block;
  float: right;
}
.white{
  color: #FFF !important;
}
.glow{
  text-shadow: 0px 5px 30px #000, 0 0 10px #000;
}
.hidden{
  visibility: hidden;
}
.videogame-body{
  position: relative;
  width: 100%;
  height: 600px;
  padding-top: 5%;
}
.swiper-container {
  width: 80%;
  height: 400px;  
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.01) !important;
  padding-top: 10%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.three-col-container{
  position: relative;
  width: 100%;
  display: inline-flex;
  border-width: 3px;
  border-style: solid;
  border-image: 
  linear-gradient(
    to bottom, 
    rgb(5,164,225), 
    rgba(0, 0, 0, 0)
  ) 1 100%;
}
.column{
  position: relative;
  width: 30%;  
  margin-left: 2%;
  margin-right: 1%;
  word-wrap: break-word;  
}
.column > h1 {
  font-size: 18pt !important;
  text-align: center;
}
.column > p {
  font-size: 14pt !important;
  text-align: justify;
}
.primary-color{
  color: #343A40 !important;
}
.two-col-container{
  position: relative;
  width: 100%;
  display: inline-flex;
  margin-bottom: 10%;
}
.column-three{
  position: relative;
  width: 40%;
  background-color: #FFF;
  top: -100px;
}
.column-three > p{
  padding-right: 3%;  
  padding-left: 5%;
}
.column-six{
  position: relative;
  width: 60%;
  word-break: break-word;
  margin-left: 2%;
}
.linear-gradient{
  position: relative;
  width: 100%;
  padding-bottom: 0.5px;
  background: linear-gradient(to right, rgb(32,199,215), rgb(5,164,225));
}
.linear-gradient > h1{
  background: linear-gradient(to right, rgb(32,199,215), rgb(5,164,225));
  text-align: center;
  color: #FFF;
}
.error-register-wrapper{
  position: relative;
  background-color: #FFF;
  width: 80%;
  height: 400px;
  margin: auto;
  text-align: center;
  padding-top: 5%;
}
.error-register-text{
  position: relative;
  text-align: center;
  font-family: Play;
  font-size: 18pt;
}
video {
  width: 100%;
  height: 730px;
  object-fit: cover;
}
.container-fluid {
  padding-right: 0% !important;
}
#product-container{
  position: relative;
  width: 100%;
  background-color: #343A40;
  display: flex;
  margin-bottom: 5%;
}
.product-item{
  position: relative;
  padding: 2%;
  padding-left: 5%;
  background-color: #FFF;
  color: #343A40;
}
.product-item:hover{
  cursor: pointer;
  transform: translateY(-20px);
  -webkit-box-shadow: 0px 3px 15px -1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 3px 15px -1px rgba(0,0,0,1);
  box-shadow: 0px 3px 15px -1px rgba(0,0,0,1);
  transition: 0.4s ease-out;
}
.product-header{
  position: relative;
  text-align: center;
  color: #343A40;
  font-size: 36pt;
}
.product-header > h1 {
  color: #343A40;
  font-size: 1em;
}
.product-description > h1{
  color: #343A40;
}
.contact{
  position: relative;
  width: 50%;
  margin: auto;
  background-color: #FFF;
  margin-bottom: 5%;
  padding: 1%;  
  z-index: 1002;
  -webkit-box-shadow: 0px 3px 15px -1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 3px 15px -1px rgba(0,0,0,1);
  box-shadow: 0px 3px 15px -1px rgba(0,0,0,1);
}
.contact > form{
  position: relative;
  width: 80%;
  margin: auto;
  color: #343A40;
}
.border-animation{
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  animation: AnimateProduct 0.5s ease-out;
  animation-fill-mode: forwards;
}
.border-animation-back{
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  animation: AnimateProductBack 0.5s ease-out;
  animation-fill-mode: forwards;
}
#border-below-1{
  position: relative;
  background-color: #21D4FD;
  width: 0%;
  height: 5px;
}
#border-below-2{
  position: relative;
  background-color: #21D4FD;
  width: 0%;
  height: 5px;
}
#border-below-3{
  position: relative;
  background-color: #21D4FD;
  width: 0%;
  height: 5px;
}
#hidden-desc-1{
  position: relative;
  opacity: 0;
  top: 50px;
}
#hidden-desc-2{
  position: relative;
  opacity: 0;
  top: 50px;
}
#hidden-desc-3{
  position: relative;
  opacity: 0;
  top: 50px;
}
.animate-product-text{
  animation: AnimateProductText 0.5s ease-out;
  animation-fill-mode: forwards;
}
.animate-product-text-back{
  animation: AnimateProductTextBackwards 0.5s ease-out;
  animation-fill-mode: forwards;
}
#howitworks-container{
  position: relative;
  width: 100%;
  display: flex;
}
.step{
  flex-grow: 1;
}
.arrow-step{
  position: relative;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  background-image: linear-gradient(147deg, rgb(5,164,225) 0%, rgb(141,124,207) 74%);
}
.arrow-body{
  position: relative;
  width: 80%;
  margin: auto;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  height: 300px;
  padding: 20px;
}
.arrow-step > h1 {
  text-align: center;
}
.leaderboard-section-container{
  position: relative;
  width: 100%;
  text-align: center;
}
.leaderboard-container{
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.leaderboard-level-container{
  position: relative;
  border: 2px solid;
  border-image-source: linear-gradient(45deg, rgb(5,164,225), rgb(141,124,207));
  border-image-slice: 1;
  height: 200px;
  padding-top: 50px;
  flex-grow: 1;
  text-align: center;
  margin: 5px;
  transform: skew(-45deg);
}
.leaderboard-level-container:hover{
  cursor: pointer;
}
.leaderboard-level-item{
  position: relative;  
  transform: skew(45deg);
}
.tierboard-container{
  position: relative;
  width: 100%;
}
.tier{
  position: relative;
  width: 95%;
  margin: auto;
  display: flex;
  height: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.tier-head{
  position: relative;
  width: 20%;
  background-color: blue;
  padding-top: 25px;
  border-radius: 25px 0% 0% 25px;
}
.tier-body{
  position: relative;
  width: 80%;
  background-color: black;
  border-radius: 0% 25px 25px 0%;
  display: flex;
}
.leaderboard-item{
  position: relative;
  width: 128px;
  padding-top: 20px;
}
.item-picture{
  position: relative;
}
.item-picture > img{
  width: 80px;
}
.item-name{
  position: relative;
  font-size: 14pt;
}
.gradient-blue{
  background: linear-gradient(90deg, rgba(2,220,242,1) 0%, rgba(0,142,255,1) 100%);
}
.gradient-green{
  background: linear-gradient(90deg, rgba(2,242,94,1) 0%, rgba(6,142,46,1) 100%);
}
.gradient-yellow{
  background: linear-gradient(90deg, rgba(224,242,2,1) 0%, rgba(250,126,9,1) 100%);
}
.gradient-orange{
  background: linear-gradient(90deg, rgba(252,101,7,1) 0%, rgba(250,9,9,1) 100%);
}
/*///////////////////// SMALL LAPTOPS ///////////////////////*/
@media screen and (min-width: 800px) and (max-width: 1300px)
{
  .error-register-wrapper{
    position: relative;
    background-color: #FFF;
    width: 100%;
    height: 400px;
    margin: auto;
    text-align: center;
    padding-top: 5%;
  }
  .error-register-text{
    position: relative;
    text-align: center;
    font-family: Play;
    font-size: 14pt;
  }
  .leaderboard-item-level{
    position: relative;
    width: 95%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px 10px 10px 10px ;
    display: flexbox;
    height: 200px;
    margin-bottom: 5%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-top: 12%;
  }
  .leaderboard-item-level:hover{
    cursor: pointer;
  }
  .arrow-body{
    position: relative;
    width: 95%;
    height: 400px;
    margin: auto;
    border: 1px solid #EEEEEE;
    border-radius: 10px;    
    padding: 20px;
  }
  .column-three{
    height: 400px;
    top: 0px;
  }
  #about-title {
    height: fit-content;
  }
  .contact{
    width: 80%;
  }
}

/*///////////////////////////////////// TABLET //////////////////////////*/
@media screen and (min-width: 450px) and (max-width: 800px)
{
  body
  {
    font-family: 'Comfortaa', cursive;
  }
  #about-title{
    height: fit-content;
  }  
  #product-container{
    position: relative;
    width: 100%;
    background-color: #343A40;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
  }
  .contenido-singin
  {
    position: relative;
    width: 100%;
    height: 500px;
  }
  .form-wrapper {
    background-color: #FFF;
    width: 60%;
    margin: auto;
    padding: 2%;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  #login_form {
    position: relative;
    width: 100%;
  }
  #btn-login
  {
    position: relative;
    margin: auto;
    padding: 0px;
    width: 100%;
    text-align: center;
  }
  #btn-register
  {
    position: relative;
    margin: auto;
    padding: 0px;
    width: 100%;
    text-align: center;
  }
  .error-register-wrapper{
    position: relative;
    background-color: #FFF;
    width: 80%;
    height: 400px;
    margin: auto;
    text-align: center;
    padding-top: 5%;
  }
  .error-register-text{
    position: relative;
    text-align: center;
    font-family: Play;
    font-size: 18pt;
  }
  video {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .two-col-container{
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 10%;
  }  
  .column-three{
    position: relative;
    width: 100%;
    background-color: #FFF;
    top: 0px;
  }
  .column-six{
    position: relative;
    width: 100%;
  }
  .three-col-container{
    position: relative;
    width: 100%;
    display: block;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(32,199,215), rgba(5,164,225, 0)) 1 100%;
  }
  .column{
    position: relative;
    width: 90%;  
    margin-left: 2%;
    margin-right: 1%;
    word-wrap: break-word;  
  }
  .footer
  {
    position: relative;
    width: 100%;
    height: 100%;  
    background-color: #000;
    color: #FFF;
    display: inline-block;
    padding-bottom: 5%;
    margin-bottom: 2%;  
  }
  #supportFooter{
    width: 100%;
    text-align: justify;
    font-family: 'Play';    
    margin-left: 11%;
    margin-top: 5%;
  }
  #contactoFooter{
    width: 100%;
    text-align: justify;
    font-family: 'Play';    
    margin-left: 11%;
    margin-top: 5%;
  }
  #logoAndSocial{
    width: 100%;
    text-align: justify;
    font-family: 'Play';    
    margin-left: 5%;
    margin-top: 5%;
  }
  #userExtra {
    position: relative;
    width: 45%;
    margin: auto;
  }
  .text-about{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
  }
  #howitworks-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .step{
    flex-grow: 1;
    margin-bottom: 3%;
  }
  .product-item:hover{
    cursor: pointer;
    transform: translateY(0px);
    -webkit-box-shadow: 0px 3px 15px -1px rgba(0,0,0,0);
    -moz-box-shadow: 0px 3px 15px -1px rgba(0,0,0,0);
    box-shadow: 0px 3px 15px -1px rgba(0,0,0,0);
    transition: 0.4s ease-out;
  }
  .contact{
    width: 90%;
    color: #000;
  }
}
 /*///////////////////////////////////// MOBILE //////////////////////////*/
@media screen and (min-width: 320px) and (max-width: 450px)
{
  body
  {
    font-family: 'Comfortaa', cursive;
  }
  #about-title {
    width: 100%;
    text-align: justify;
    font-family: 'corbel bold';
    height: fit-content;
    padding-top: 50px;
    font-size: 18pt;
    padding-left: 10%;
    margin-bottom: 0%;    
  }
  #cloud-title > h1{
    font-size: 0.8em;
    padding-left: 2%;    
  }
  #contact-title{
    height: fit-content;
    margin-bottom: 10%;
  }
  #contact-title > h1 {
    font-size: 1.5em;
  }
  #contact-title > h3 {
    font-size: 1em;
  }
  #product-container{
    position: relative;
    width: 100%;
    background-color: #343A40;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
  }
  #login{
    display: none;
  }
  .img_logo{
    margin: auto;
  }
  .contenido-singin
  {
    position: relative;
    width: 100%;
    height: 500px;
  }
  .form-wrapper {
    background-color: #FFF;
    width: 95%;
    margin: auto;
    padding: 2%;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  #login_form {
    position: relative;
    width: 100%;
  }
  #btn-login
  {
    position: relative;
    margin: auto;
    padding: 0px;
    width: 100%;
    text-align: center;
  }
  #btn-register
  {
    position: relative;
    margin: auto;
    padding: 0px;
    width: 100%;
    text-align: center;
  }
  .error-register-wrapper{
    position: relative;
    background-color: #FFF;
    width: 100%;
    height: 400px;
    margin: auto;
    text-align: justify;
    padding-top: 2%;
  }
  .error-register-text{
    position: relative;    
    text-align: justify;
    font-family: Play;
    padding: 5px;
    font-size: 14pt;
  }
  video {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .two-col-container{
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 10%;
  }  
  .column-three{
    position: relative;
    width: 100%;
    background-color: #FFF;
    top: 0px;
  }
  .column-six{
    position: relative;
    width: 100%;
  }
  .three-col-container{
    position: relative;
    width: 100%;
    display: block;
    border-width: 3px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      rgb(5,164,225), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
  }
  .column{
    position: relative;
    width: 90%;  
    margin-left: 2%;
    margin-right: 1%;
    word-wrap: break-word;  
  }
  .footer
  {
    position: relative;
    width: 100%;
    height: 100%;  
    background-color: #000;
    color: #FFF;
    display: inline-block;
    padding-bottom: 5%;
    margin-bottom: 2%;  
  }
  #supportFooter{
    width: 100%;
    text-align: justify;
    font-family: 'Play';    
    margin-left: 15%;
    margin-top: 5%;
  }
  #contactoFooter{
    width: 100%;
    text-align: justify;
    font-family: 'Play';    
    margin-left: 15%;
    margin-top: 5%;
  }
  #logoAndSocial{
    width: 100%;
    text-align: justify;
    font-family: 'Play';    
    margin-left: 5%;
    margin-top: 5%;
  }
  .text-about{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 5%;
  }
  #howitworks-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .step{
    flex-grow: 1;
    margin-bottom: 5%;
  }
  .arrow-step{
    width: 100%;
  }
  .arrow-body{
    width: 100%;
    padding: 5px;
  }
  .product-item:hover{
    cursor: pointer;
    transform: translateY(0px);
    -webkit-box-shadow: 0px 3px 15px -1px rgba(0,0,0,0);
    -moz-box-shadow: 0px 3px 15px -1px rgba(0,0,0,0);
    box-shadow: 0px 3px 15px -1px rgba(0,0,0,0);
    transition: 0.4s ease-out;
  }
  .contact{
    width: 90%;
    color: #000;
  }
  #contact-button{
    width: 100%;
  }
  #contacto-background{
    display: none;
  }
}
