p {
  color: #808080 !important;
}


.contenido
{
  position: relative;
  margin: 40px 0px 0px 0px;
  padding: 0px;
  width: 100%;
}

.form
{
  position: relative;
  margin: auto;
  padding: 2%;
  width: 100%;
  text-align: center;
}

#regLogin
{
  position: relative;
  margin-top: 2%;
  width: 100%;
  /*padding-right: 15%;*/
  text-align: center;
}

/*******DASHBOARD********/
#userSession
{
  position: relative;
  width: 100%;
  height: 5%;
  margin-left: 10px;
  margin-top: 70px;
}
/*******Usuario dashboard********/
.contenidoUsuario
{
  position: relative;
  width: 854px;
  margin: auto;
  background-color: 	#EEEEEE;
}
#userContent
{
  position: relative;
  padding: 10px;
}

#subscription
{
  position: relative;
  width: 80%;
  height: 530px;
  margin: auto;
}

/*******Payment********/
.contenidoPayment
{
  position: relative;
  width: 854px;
  margin: auto;
  background-color: 	#EEEEEE;
}
#paymentContent
{
  position: relative;
  padding: 10px;
}
/*******Subscription********/
.contenidoSubscription
{
  position: relative;
  width: 854px;
  margin: auto;
  background-color: 	#EEEEEE;
}

#subscriptionContent
{
  position: relative;
  padding: 10px;
}

#endDate
{
  position: relative;
  width: 100%;
  height: 100px;
  border-radius: 3px;
  border: 1px solid #EEE;
  padding: auto;
}

#service
{
  position: relative;
  width: 100%;
  height: 380px;
  border-radius: 3px;
  border: 1px solid #EEE;
  padding: auto;
}

#menu-neuroni
{
  background-color: red;
  position: relative;
  width: 854px;
  height: 600px;
  margin: auto;
}
#menu-neuronm
{
  background-color: blue;
  position: relative;
  width: 854px;
  height: 600px;
  margin: auto;
}
#menu-neurons
{
  background-color: green;
  position: relative;
  width: 854px;
  height: 600px;
  margin: auto;
}

#profile
{
  position: relative;
  width: 80%;
  margin: auto;
}
#userPhoto
{
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center;
}
#userInfo
{
  position: relative;
  margin: auto;
  width: 100%;
  color: #FFF;
}
#userNameP
{
  position: relative;
  width: 100%;
  margin-top: 5%;
  text-align: center;
}
#userExtra
{
  position: relative;
  width: 25%;
  margin: auto;
}
#userExtra > table{
  position: relative;
  width: 100%;
}
#userProgress
{
  position: relative;
  width: 100%;
}

#tleaderboard
{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height:800px;
  text-align: center;
  font-size: 18pt;
}

#tleaderboard table th{
  text-align: center;
}

#tleaderboard table td{
  text-align: center;
  padding-bottom: 1em;
}

.hide{
  display: none;
}

#user-content{
  position: relative;
  width: 60%;
  margin: auto;
}

.full-width{
  width: 100%;
  text-align: center;
}

.contenido-avatar{
  position: relative;
  margin: 40px 0px 0px 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
}

.avatar-showcase{
  position: relative;
  width: 80%;
  display: inline-flex;
  margin: auto;
  text-align: center;
}

.photo{
  position: relative;
  width: 10%;
  margin-left: 14%;
}
.btn-save-avatar{
  position: relative;
  width: 40%;
  margin: auto;
  margin-top: 2%;
}

@media screen and (min-width: 540px) and (max-width:768px){
  .photo{
    position: relative;
    width: 10%;
    margin-left: 10%;
  }
}

.level-selector{
  position: relative;
  width: 50%;
  margin: auto;
  background-color: #343A40;
  text-align: center;
}

.level-level{
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url('../img/videogames/levellevel.png');
  background-size: 100% 100%;
  padding: 5%;
}
.level-number{
  font-size: 42pt;
  font-weight: bold;
  color: #FFF;
  width: 100px;
  height: 100px;
  margin: auto;
  padding-top: 5%;
  background-image: url('../img/videogames/round.png');
  background-size: 100% 100%;
}
.level-number-lock{
  width: 100px;
  height: 100px;
  margin: auto;  
  background-image: url('../img/videogames/lock.png');
  background-size: 100% 100%;
}
.level-number:hover{
  cursor: pointer;
  background-image: url('../img/videogames/round_hover.png');
}
.level-table{
  position: relative;
  width: 100%;  
  text-align: center;
}
.level-select-footer{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: chartreuse;
}
.table-footer{
  position: relative;
  width: 100%;  
  height: 100px;
  text-align: center;  
  
}
#play{
  position: relative;
  top: -50px;
  width: 100px;
  height: 100px;
  background-image: url('../img/videogames/play.png');
  background-size: 100% 100%;
}
#play:hover{
  background-image: url('../img/videogames/play_hover.png');  
}
#leaderboard{
  position: relative;
  top: -50px;
  width: 100px;
  height: 100px;
  float: right;
  background-image: url('../img/videogames/records.png');
  background-size: 100% 100%;
}
#leaderboard:hover{
  background-image: url('../img/videogames/records_hover.png'); 
}
@media screen and (min-width: 320px) and (max-width: 540px)
{

  .avatar-showcase{
    position: relative;
    width: 100%;
    display: inline-flex;
    margin: auto;
    text-align: center;
  }

  .photo{
    position: relative;
    width: 10%;
    margin-left: 9%;
  }

  .contenido
  {
    position: relative;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: 768px;
  }
  .form
  {
    position: relative;
    margin: auto;
    padding: 2%;
    width: 100%;
    text-align: center;
  }

  #regLogin
  {
    position: relative;
    margin: 5% 0% 0% 0%;
    width: 100%;
    text-align: center;
  }

  #profile
  {
    position: relative;
    width: 100%;
    margin: auto;
  }

  #userPhoto
  {
    position: relative;
    margin-top: 10%;
    width: 100%;
  }

  #userAvatar
  {
    width: 128px;
  }
  #userExtra
  {
    position: relative;
    width: 80%;
    margin: auto;
    text-align: justify;
  }
  #userExtra > table{
    width: 100%;
    padding-left: 10%;
  }
  #userProgress
  {
    position: relative;
    width: 80%;
    margin: auto;
  }
}
