
@font-face{
  font-family: 'Jokey';
  src: url('../fonts/Jokey/JockeyOne-Regular.ttf');
}
@font-face{
  font-family: 'Jura';
  src: url('../fonts/Jura/Jura-VariableFont_wght.ttf');
}
@font-face{
  font-family: 'Play';
  src: url('../fonts/Play/Play-Regular.ttf');
}
a{
  color: #FFF;
}
a:hover{
  text-decoration: none;
  color: #FFF;
}
h1{
  font-family: 'Jura';
}
p, span, strong, a {
  font-family: 'Play';
}
.container-fluid-dashboard{
 position: relative;
 width: 80%; 
 margin-left: 20%;
}
.aside-menu{
  position: fixed;
  width: 20%;
  background-color: #000;
  height: 100%;
}
#aside-logo-container{
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10%;
}
#menu-container{
  position: relative;
  width: 100%;
  text-align: center;
}
#user-avatar-container{
  position: relative;
  width: 100%;
  text-align: justify;
  color: #FFF;
  display: flex;
  font-size: 18pt;
  padding-left: 25px;
  margin-bottom: 5%;
}
#avatar-usuario{
  position: relative;
  width: 60px;
}
#user-name{
  position: relative;
  padding-top: 10px;
  margin-left: 40px;
}
.menu-item{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.c-badge-primary{
  display: block;
  position: relative;
  width: 100px;
  border: 1px solid;
  border-image-source: linear-gradient(45deg, rgba(2,220,242,1) 0%, rgba(0,142,255,1) 100%);
  border-image-slice: 1;
  height: 50px;
  padding-top: 10px;
  color: #FFF;
}
.c-badge-red{
  display: block;
  position: relative;
  width: 100px;
  border: 1px solid;
  border-image-source: linear-gradient(45deg, rgba(252,101,7,1) 0%, rgba(250,9,9,1) 100%);
  border-image-slice: 1;
  height: 50px;
  padding-top: 10px;
  color: #FFF;
}
.margin-5{
  margin: 5px;
}
#dash-menu{
  position: relative;
  width: 100%;
  display: flex;  
}
.menu-item-hex{
  position: relative;
  flex-grow: 1;
  height: 300px;   
  background-image: url("../img/dashboard-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}
.menu-list-container{
  position: relative;
  width: 100%;
  margin-top: 25px;
}
.menu-list{
  position: relative;
  width: 100%;
  text-align: justify;
  list-style-type: none;
}
.menu-list-item{
  margin-bottom: 15px;
}
.container-fluid-profile{
  position: relative;
  width: 80%;
  margin-left: 20%;
}
.container-fluid-edit{
  position: relative;
  width: 80%;
  margin-left: 20%; 
  padding-top: 5%;
}
.container-fluid-avatar{
  position: relative;
  width: 80%;
  margin-left: 20%;
}
.container-fluid-speech{
  position: absolute;
  width: 80%;
  margin-left: 20%;
}
.container-fluid-thesethose{
  position: absolute;
  width: 80%;
  margin-left: 20%;
}
.container-fluid-leaderboard{
  position: relative;
  width: 80%;
  margin-left: 20%;
}
.container-fluid-videos{
  position: relative;
  width: 80%;
  margin-left: 20%;
  text-align: center;
  display: flex;
  padding-top: 5%;
}
.video-wrapper{
  position: relative;
  width: 400px;
  height: 400px;  
  background-color: #FFF;
  margin: auto;
  border-radius: 5px;  
}
.video-body{
  position: relative;
  top: -70px;
}
.related-lectures{
  position: relative;
  width: 100%;
  height: 100%;
  color: #343a40 !important;
}
.related-lectures > div > a{
  color: #343a40 !important;
  font-size: 14pt;
}
.video-body > a{
  color: #343a40 !important;
  font-size: 18pt;
}
.video-icon{  
  position: relative;
  font-size: 28pt;
  text-align: center;
  color: #FFF;
  top: -100px;
}

.video-header > img {
  border-radius: 4px 4px 0px 0px;
}
.dash-ico{
  color: #FFF;
  font-size: 3em;
  transition: all 0.25s ease-out;
}
.dash-ico:hover{
  /*animation: glow 0.5s linear;*/
  font-size: 4em;
  animation-iteration-count: 1;
  text-shadow: 0 0 25px rgba(255,255,255,1);
}
.contenido
{
  position: relative;
  margin: 40px 0px 0px 0px;
  padding: 0px;
  width: 100%;
  font-family: 'Play';
}
.form
{
  position: relative;
  margin: auto;
  padding: 2%;
  width: 100%;
  text-align: center;
  font-family: 'corbel';
}
#editprofile-title{
  text-align: center;
}
#regLogin
{
  position: relative;
  margin-top: 2%;
  width: 100%;
  margin-bottom: 2%;
  text-align: center;
  font-family: 'corbel';
}
#profile
{
  position: relative;
  width: 80%;
  margin: auto;
}
#userPhoto
{
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center;
}
#userInfo
{
  position: relative;
  margin: auto;
  width: 100%;
  color: #FFF;
}
#userNameP
{
  position: relative;
  width: 100%;
  margin-top: 5%;
  text-align: center;
}
#userExtra
{
  position: relative;
  width: 25%;
  margin: auto;
}
#userExtra > table{
  position: relative;
  width: 100%;
}

#tleaderboard
{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height:800px;
  text-align: center;
  font-size: 18pt;
}

#tleaderboard table th{
  text-align: center;
}

#tleaderboard table td{
  text-align: center;
  padding-bottom: 1em;
}

.hide{
  display: none;
}

#user-content{
  position: relative;
  width: 60%;
  margin: auto;
}
#video-player{
  position: absolute;
  width: 100%;
  background-color: #000;
  padding: 5%;
  z-index: 10002;
  visibility: hidden;
}
#player-title{
  position: relative;
  text-align: center;
}
#player-body > video {
  width: 100% !important;
}
#close-player{
  position: relative;
  width: 100%;
  text-align: right;
}
#close-player > img:hover{
  cursor: pointer;
}
.full-width{
  width: 100%;
  text-align: center;
}

.contenido-avatar{
  position: relative;
  margin: 40px 0px 0px 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
}

.avatar-showcase{
  position: relative;
  width: 80%;
  display: inline-flex;
  margin: auto;
  text-align: center;
}

.photo{
  position: relative;
  width: 10%;
  margin-left: 14%;
}
.btn-save-avatar{
  position: relative;
  width: 40%;
  margin: auto;
  margin-top: 2%;
}

@media screen and (min-width: 540px) and (max-width:768px){
  .photo{
    position: relative;
    width: 10%;
    margin-left: 10%;
  }
}

.level-selector{
  position: relative;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.speech-level-box{
  position: relative;
  width: 100%;
  height: 300px;  
  padding: 5%;
  border-radius: 5px;
  border: 1px solid #FFF; 
}

.level-level{
  position: relative;
  width: 100%;
  height: 300px;  
  background-size: 100% 100%;
  padding: 5%;
  border-radius: 5px;
  border: 1px solid #FFF;  
}
.level-number{
  font-size: 42pt;
  font-weight: bold;
  color: #FFF;
  width: 100px;
  height: 100px;
  margin: auto;
  padding-top: 5%;
  background-image: url('../img/videogames/round.png');
  background-size: 100% 100%;
}
.level-number-lock{
  width: 100px;
  height: 100px;
  margin: auto;  
  background-image: url('../img/videogames/lock.png');
  background-size: 100% 100%;
}
.level-number:hover{
  cursor: pointer;
  background-image: url('../img/videogames/round_hover.png');
}
.level-table{
  position: relative;
  width: 100%;  
  text-align: center;
}
.level-select-footer{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: chartreuse;
}
.table-footer{
  position: relative;
  width: 100%;  
  height: 100px;
  text-align: center;  
  
}
#play{
  position: relative;
  top: -50px;
  width: 100px;
  height: 100px;
  background-image: url('../img/videogames/play.png');
  background-size: 100% 100%;
}
#play:hover{
  background-image: url('../img/videogames/play_hover.png'); 
  cursor: pointer; 
}
#leaderboard{
  position: relative;
  top: -50px;
  width: 100px;
  height: 100px;
  float: right;
  background-image: url('../img/videogames/records.png');
  background-size: 100% 100%;
}
#leaderboard:hover{
  background-image: url('../img/videogames/records_hover.png'); 
  cursor: pointer;
}
.super-game-container{
  position: relative;
  width: 80%;
  height: 500px;
  margin: auto;
  background-color: #343A40;;
}
iframe{
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
td{
  padding-left: 25px;
}
@media screen and (min-width: 1600px){
  .super-game-container{
    position: relative;
    width: 81%;
    margin-left: 20%;
    height: 700px;    
    background-color: #343A40;;
  } 
}

@media screen and (min-width: 1440px) and (max-width: 1600px){
  .level-selector {
    position: relative;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
  }
} 

@media screen and (min-width:1024px) and (max-width: 1439px){
  .level-selector {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px){
  #userExtra {
    position: relative;
    width: 45%;
    margin: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 450px)
{

  .avatar-showcase{
    position: relative;
    width: 100%;
    display: inline-flex;
    margin: auto;
    text-align: center;
  }

  .photo{
    position: relative;
    width: 10%;
    margin-left: 9%;
  }

  .contenido
  {
    position: relative;
    margin: auto;
    padding: 0px;
    width: 80%;
    height: 768px;
  }
  .form
  {
    position: relative;
    margin: auto;
    padding: 2%;
    width: 100%;
    text-align: center;
  }

  #regLogin
  {
    position: relative;
    margin: 5% 0% 0% 0%;
    width: 100%;
    text-align: center;
  }

  #profile
  {
    position: relative;
    width: 100%;
    margin: auto;
  }

  #userPhoto
  {
    position: relative;
    margin-top: 10%;
    width: 100%;
  }

  #userAvatar
  {
    width: 128px;
  }
  #userExtra
  {
    position: relative;
    width: 80%;
    margin: auto;
    text-align: justify;
  }
  #userExtra > table{
    width: 100%;
    padding-left: 10%;
  }
}
